
<meta charset="utf-8">
<title>{{ .Site.Title }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
{{ with .Site.Params.author }}
<meta name="author" content="{{ . }}">{{ end }}


{{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/")) }}
{{ $style := resources.Get "sass/main.scss" | resources.ToCSS $options }}
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">