{{ define "main" }}

<section class="section">
    <div class="container">

        <h1 class="title">{{ .Title | safeHTML }}</h1>
        <h3 class="subtitle">{{ .Params.authors | safeHTML }}</h3>
        <div class="pb-4 columns is-1 has-text-centered is-mobile is-multiline">
            <div class="column is-narrow px-1">
                <span class="tag is-info"><span class="icon-text"><span class="icon"><i
                        class="fas fa-tag"></i></span><span>{{ .Params.version | safeHTML }}</span></span></span>
            </div>
                {{ if .Params.latest }}
            <div class="column is-narrow px-1 is-one-third-mobile">
            <span class="tag is-success"><span class="icon-text"><span class="icon"><i
                    class="fas fa-calendar-check"></i></span><span>{{ i18n "latest" | safeHTML }} {{ i18n "version" | safeHTML }}</span></span></span>
            </div>
            {{ else }}
            <div class="column is-narrow px-1 is-one-third-mobile">
                <a href="{{ "rules/latest" | relURL }}"><span class="tag is-warning"><span class="icon-text"><span
                    class="icon"><i
                    class="fas fa-calendar-times"></i></span><span>{{ i18n "deprecated" | safeHTML }} {{ i18n "version" | safeHTML }}</span></span></span></a>
            </div>
            {{ end }}
            <div class="column is-narrow px-1 is-one-third-mobile">
                <a href="{{ .Params.pdf | safeURL }}"><span class="tag is-primary"><span class="icon-text"><span
                        class="icon"><i
                        class="fas fa-download"></i></span><span>{{ i18n "downloadpdf" }}</span></span></span></a>
            </div>
            <div class="column is-narrow px-1 is-one-third-mobile">
                <span class="tag is-light"><span class="icon-text"><span class="icon"><i
                        class="fas fa-calendar-day"></i></span><span>{{ .Date.Format "Jan, 2006" | safeHTML}}</span></span></span>
            </div>
            {{ if .IsTranslated }}
            {{ range .Translations }}
            <div class="column is-narrow px-1 is-one-third-mobile">
                <a href="{{ .RelPermalink | safeURL }}"><span class="tag is-light"><span class="icon-text"><span
                        class="icon"><i class="fas fa-language"></i></span><span>{{ i18n .Lang | safeHTML }}</span></span></span></a>
            </div>
            {{ end }}
            {{ end }}
        </div>
        <div class="content">
            {{ .TableOfContents }}
        </div>
        <article class="content rules">
            {{ .Content | safeHTML }}
        </article>
    </div>
</section>

{{ end }}